<div class="row">
  <div class="col-md-12 text-center">
    <h4>Or try one of the following as an example:</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <div class="example-users">
      <% @examples.each do |username, photo| %>
      <div class="user">
        <%= form_tag "/cloud", method: "post" do %>
        <%= hidden_field_tag :username, username %>
        <%= submit_tag "Submit", :type => :image, :src => photo, class: "img-circle-examples"%>
        <% end %>
        <h3>@<%= username %></h3>
      </div>
      <% end %>
    </div>
  </div>
</div>
