<div class="title">
  <h4>Tweet Cloud</h4>
</div>
<div class="wordcloud">
  <% word_cloud @word_count, ['size1', 'size2', 'size3', 'size4'] do |word, css_class| %>
    <p class="<%= css_class %>">
      <%= word %>
    </p>
  <% end %>
</div>
