<div class="vcontainer">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Tweet cloud for @<%= @wordcloud.username %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <% word_cloud @words, ['size1', 'size2', 'size3', 'size4', 'size5', 'size6', 'size7', 'size8', 'size9', 'size10'] do |word, css_class| %>
        <span class="<%= css_class %>">
          <%= word %>
        </span>
      <% end %>
    </div>
  </div>
</div>
