// Place all the styles related to the wordcloud controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.size1 { font-size: 0.5em;}
.size2 { font-size: 1.0em;}
.size3 { font-size: 1.5em;}
.size4 { font-size: 2em;}
.size5 { font-size: 2.5em;}
.size6 { font-size: 3em;}
.size7 { font-size: 3.5em;}
.size8 { font-size: 4em;}
.size9 { font-size: 4.5em;}
.size10 { font-size: 5em;}

.vcontainer-cloud {
  width: 80%;
  position: absolute;
  top: 30px;
  left:50%;
  transform: translate(-50%);
}

.vcontainer-home {
  width: 80%;
  position: absolute;
  top: 100px;
  left:50%;
  transform: translate(-50%);
}

body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 1.5em;
  margin: 0;
  background-image: image_url('wallpaper.jpg');
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // display: compact;
}

h1 {
  font-family: 'lobster', serif !important;
  letter-spacing: 4px;
  font-size: 3.5em !important;
  padding-bottom: 35px;
  color: white !important;
}

.panel-default {
  background-color: rgba(255,255,255,0.3) !important;
  border-style: none !important;
}

.panel-body {
  padding: 60px !important;
}

.img-circle {
    border-radius: 50% !important;
    margin-right: 30px;
}

.back-button {
  padding-bottom: 30px;
}

.btn {
    padding: 14px 24px;
    border-color: white !important;
    border-style: solid;
    font-weight: 700;
    letter-spacing: 1px;
    background: none !important;
}

.btn:hover {
    background-color: white !important;
    color: #3779A8 !important;
}

.logo {
  width: 250px;
}
